html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.leaflet-container {
  height: 1200px;
  width: 100%;
}

.logo {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .logo {
    top: 0.75rem;
    right: 0.75rem;
    width: 175px;
  }
}

.button {
  width: 10rem;
  height: 3rem;
  position: fixed;
  top: 4rem;
  transform: translateX(-50%);
  left: 50%;
  z-index:1000;
  background-color: #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button p {
  font-size: 1.25rem;
  text-align: center;
}

.overlay { 
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__container {
  width: 50rem;
  height: 30rem;
  background-color: #fff;
  position: relative;

}

.form__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.overlay--close {
  display: none;
}




.loginImg {
  height: 100vh;
  background-image: url(../public/images/login.png);
  background-position: center;
  background-size:cover;

}

.loginForm {
  width: 25rem;
  margin: auto auto;
}

.myTrueClass {
  width: 16px;
  height: 11px;
  background-image:url('../public/images/true.png');
}

.myFalseClass {
  width: 14px;
  height: 14px;
  background-image:url('../public/images/false.png');
}


